/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.container {
  justify-content: center;
  display: flex;
  margin: 0 40px;
}

.material-icons {
  display: inline-flex;
  vertical-align: middle;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.register-container {
  width: 500px;
  justify-content: center;


}

.form.normal-form {
  margin: 10px;
}

.control-container{
  justify-content: center;
  width: 100%;


}

.control-container > *{
  width: 100%;

}

.mat-form-field {
}

.add-bottom-padding {
  padding-bottom: 10px;
}

mat-radio-group mat-radio-button {
  margin-left: 5px;
}


