<div class="container">
  <mat-toolbar>
    <span class="fill-remaining-space"></span>
    <span>Register new account</span>
    <span class="fill-remaining-space"></span>
  </mat-toolbar>
</div>

<div class="container">
  <div class="register-container">
    <form [formGroup]="registerForm" class="normal-form" (submit)="onSubmit()">
      <div class="control-container">
        <mat-form-field>
          <input
            formControlName="email"
            matInput placeholder="Email/login*"
            uniqueLogin
            matTooltip="Your email address serves as a login, and it can not be changed!"
            matTooltipPosition="after"
          >
          <mat-error *ngIf="registerForm.controls['email'].hasError('required')">This field is required.</mat-error>
          <mat-error *ngIf="registerForm.controls['email'].hasError('email')">Invalid email format.</mat-error>
          <mat-error *ngIf="registerForm.controls['email'].hasError('uniqueLogin')">This login is already in use.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            id="password"
            formControlName="password"
            type="password"
            matInput placeholder="Password*">
          <mat-error *ngIf="registerForm.controls['password'].hasError('required')">This field is required.</mat-error>
        </mat-form-field>
        <label class="col"
               [ngClass]="registerForm.controls['password'].hasError('required') || registerForm.controls['password'].hasError('minlength')  ? 'text-danger' : 'text-success'">
          <i class="material-icons">{{ registerForm.controls['password'].hasError('required') ||
          registerForm.controls['password'].hasError('minlength') ? 'cancel' :
            'check_circle' }}</i>
          Must be at least 8 characters!
        </label>
        <label class="col"
               [ngClass]="registerForm.controls['password'].hasError('required') || registerForm.controls['password'].hasError('hasNumber')  ? 'text-danger' : 'text-success'">
          <i class="material-icons">{{ registerForm.controls['password'].hasError('required') ||
          registerForm.controls['password'].hasError('hasNumber') ? 'cancel' :
            'check_circle' }}</i>
          Must contain at least 1 number!
        </label>
        <label class="col"
               [ngClass]="registerForm.controls['password'].hasError('required') || registerForm.controls['password'].hasError('hasCapitalCase')  ? 'text-danger' : 'text-success'">
          <i class="material-icons">{{ registerForm.controls['password'].hasError('required') ||
          registerForm.controls['password'].hasError('hasCapitalCase') ? 'cancel' :
            'check_circle' }}</i>
          Must contain at least 1 in Capital Case!
        </label>
        <label class="col"
               [ngClass]="registerForm.controls['password'].hasError('required') || registerForm.controls['password'].hasError('hasSmallCase')  ? 'text-danger' : 'text-success'">
          <i class="material-icons">{{ registerForm.controls['password'].hasError('required') ||
          registerForm.controls['password'].hasError('hasSmallCase') ? 'cancel' :
            'check_circle' }}</i>
          Must contain at least 1 Letter in Small Case!
        </label>
        <label class="col"
               [ngClass]="registerForm.controls['password'].hasError('required') || registerForm.controls['password'].hasError('hasSpecialCharacters') ? 'text-danger' : 'text-success'">
          <i class="material-icons">{{ registerForm.controls['password'].hasError('required') ||
          registerForm.controls['password'].hasError('hasSpecialCharacters') ? 'cancel' :
            'check_circle' }}</i>
          Must contain at least 1 Special Character!
        </label>
        <mat-form-field>
          <input formControlName="confirmPassword" type="password" matInput placeholder="Repeat password*">
          <mat-error>Provided password didn't match.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            formControlName="uniqueAccName"
            matInput placeholder="Unique account name*"
            uniqueAccName
            matTooltip="Each of your posts will be associated with this unique name. You can not change it in the future."
            matTooltipPosition="after"
          >
          <mat-error *ngIf="registerForm.controls['uniqueAccName'].hasError('uniqueAccName')">This name is already in use.</mat-error>
          <mat-error *ngIf="!registerForm.controls['uniqueAccName'].hasError('uniqueAccName')">This field is required.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            formControlName="descAccName"
            matInput placeholder="Descriptive account name*"
            matTooltip="Everyone will recognize your posts based on this descriptive name of your account. It is possible to change this name any time you want it. "
            matTooltipPosition="after"
          >
          <mat-error>This field is required.</mat-error>
        </mat-form-field>
        <div class="add-bottom-padding">
          <mat-radio-group formControlName="gender">
            <mat-radio-button value="1">Male</mat-radio-button>
            <mat-radio-button value="2">Female</mat-radio-button>
          </mat-radio-group>
        </div>
        <mat-form-field>
          <mat-select formControlName="type" placeholder="Account status">
            <mat-option value="PUBLIC">Public</mat-option>
            <mat-option value="PRIVATE">Private</mat-option>
          </mat-select>
        </mat-form-field>
        <div class="button-row">
          <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
          <button mat-raised-button color="primary" style="margin-left: 7px" type="submit"
                  [disabled]="registerForm.invalid">Submit
          </button>
        </div>
      </div>
    </form>
  </div>
</div>


