<div class="container">
  <mat-toolbar>
    <span class="spacer"></span>
    <span>Login</span>
    <span class="spacer"></span>
  </mat-toolbar>
</div>

<div class="container">
  <span class="spacer"></span>
  <form [formGroup]="loginForm" class="login-form" (submit)="loginUser()">

    <mat-form-field>
      <input
        formControlName="email"
        matInput placeholder="Email/login*"
        checkLoginWhileSignIn
        matTooltip="Your email address serves as a login, and it can not be changed!"
        matTooltipPosition="after"
      >
      <mat-error *ngIf="loginForm.controls['email'].hasError('required')">This field is required.</mat-error>
      <mat-error *ngIf="loginForm.controls['email'].hasError('email')">Invalid email format.</mat-error>
      <mat-error *ngIf="loginForm.controls['email'].hasError('checkLoginWhileSignIn')">Login/email not found</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        id="password"
        formControlName="password"
        type="password"
        matInput placeholder="Password*">
      <mat-error *ngIf="loginForm.controls['password'].hasError('required')">This field is required.</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">
      Sign-in
    </button>
  </form>
  <span class="spacer"></span>
</div>

