<div class="container">
  <h2>Bordered Table</h2>
  <p>The .table-bordered class adds borders to a table:</p>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Unique Account Name</th>
      <th>Descriptive Account Name</th>
      <th>Email</th>
      <th>Role</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td >{{user['unigueAccName']}}</td>
      <td>{{user['descAccName']}}</td>
      <td>{{user['email']}}</td>
      <td>{{user['role']}}</td>
    </tr>
    </tbody>
  </table>
</div>
