
.all-posts{
  display: flex;
  flex-direction: column;
}

.post-window {
  width: 459px;
  height: 240px;
  padding: 5px 10px;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: justify;
}

.post-author {
  width: 40%;
  margin: 5px;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;

}

.author-avatar {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border: solid black 3px;
  justify-content: center;
  text-align: center;
}

.author-desc {
  font-weight: bolder;
  font-size: 22px;
}

.post-content {
  width: 50%;
  margin: 5px;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
}

.author-join-date {
  text-align: left;

}

.post-options {
  display: flex;
  flex-direction: row;

}

.post-option a {
  display: flex;
  flex-direction: column;
}
