<div class="container">
  <mat-toolbar>
    <span class="spacer"></span>
    <span>All public blog_posts</span>
    <span class="spacer"></span>
  </mat-toolbar>
</div>

<div class="container">
  <div class="post-window"
  *ngFor="let post of blogPosts"
  >
    <div class="post-author">
      <span class="author-avatar">{{post['user']['avatarId']}}</span>
      <div class="spacer"></div>
      <span class="author-desc">{{post['user']['descAccName']}}</span>
      <span class="author-unique">@{{post['user']['uniqueAccName']}}</span>
      <div class="spacer"></div>
      <span class="author-join-date">Joined on{{formatJoinDate(post['user']['creationDate'])}}</span>
    </div>
    <div class="post-content">
      <span>posted</span>
    </div>
  </div>

</div>


