<div class="container">
  <mat-toolbar>
    <span class="spacer"></span>
    <span>All public blog_posts</span>
    <span class="spacer"></span>
  </mat-toolbar>
</div>

<div class="container">
  <div class="all-posts">
    <div class="post-window"
         *ngFor="let post of blogPosts"
    >
      <div class="post-author">
        <span class="author-avatar">
          <p>ID</p>
        </span>
        <div class="spacer"></div>
        <span class="author-desc">{{post['descAccName']}}</span>
        <span class="author-unique">@{{post['uniqueAccName']}}</span>
        <div class="spacer"></div>
        <span class="author-join-date">Joined on{{formatJoinDate(post['registerDate'])}}</span>
      </div>
      <div class="post-content">
        <span>posted {{formatCreationDate(post['creationDate'])}}</span>
        <div class="spacer"></div>
        <span>{{post['content']}}</span>
        <div class="spacer"></div>
        <div class="post-options">
          <div class="post-option">
            <a [routerLink]="['/new-post']" mat-button>
              <mat-icon>insert_comment</mat-icon>
            </a>
            <span>
              Comment
            </span>
          </div>
          <div class="post-option">
            <a [routerLink]="['/new-post']" mat-button>
              <mat-icon>insert_comment</mat-icon>
            </a>
            <span>
              Comment
            </span>
          </div>
          <div class="post-option">
            <a [routerLink]="['/new-post']" mat-button>
              <mat-icon>thumb_up</mat-icon>
            </a>
            <span>
              Like
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>


