<div class="container">
  <mat-toolbar>
    <span class="spacer"></span>
    <span>Write a new Blog Post</span>
    <span class="spacer"></span>
  </mat-toolbar>
</div>
<div class="container">
  <div class="new-post-container">
    <form [formGroup]="newPostForm" class="normal-form" (submit)="onSubmit()">
      <div class="control-container">
        <mat-form-field>
          <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint>
          <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
          <textarea class="new-post-form"
                 #message
                 maxlength="256"
                 matInput
                 id="new-post"
                 formControlName="content"
                 placeholder="Post content*"
                 matTooltip="TOOLTIP"
                 matTooltipPosition="after"
          ></textarea>
          <mat-error *ngIf="newPostForm.controls['content'].hasError('required')">Post content can not be empty.
          </mat-error>
        </mat-form-field>
        <div class="button-row">
          <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
          <button mat-raised-button color="primary" style="margin-left: 7px" type="submit"
                  [disabled]="newPostForm.invalid">Submit
          </button>
        </div>

      </div>
    </form>
  </div>
</div>
