<form #userForm = "ngForm">

  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" id="email" class="form-control" name="email" [(ngModel)]="user.email">
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" id="password" class="form-control" name="password" [(ngModel)]="user.password">
  </div>

  <div class="form-group">
    <label for="unigueAccName">Unique Account Name</label>
    <input type="text" id="unigueAccName" class="form-control" name="unigueAccName" [(ngModel)]="user.unigueAccName">
  </div>

  <div class="form-group">
    <label for="descAccName">Descriptive Account name</label>
    <input type="text" id="descAccName" class="form-control" name="descAccName" [(ngModel)]="user.descAccName">
  </div>

  <button type="button" class="btn btn-primary" (click)="registerUser(user, userForm)">Submit</button>
</form>
